<!-- tela centralizada para aguardar resposta -->
<app-loading aviso="Pesquisando..." *ngIf="pesquisando"></app-loading>

<div class="col-md">

  <alert type="danger" *ngIf="apierror">
    <fa name="bomb"></fa>
    Falha na requisição. A aplicação retornou erro: <strong>"{{ (!httperror ? '' : httperror).mensagem || 'Erro desconhecido!' }}"</strong>
  </alert>

  <div id="tabledataset">
  <table class="table table-sm table-hover table-bordered">

    <thead>

      <tr [hidden]="!cancoleta">
        <th [attr.colspan]="visiblecolumns()" class="thcoleta">
          <div class="row">
            <div class="col-12 spacebetween">
              <span style="margin-right: 10px;">Coleta:</span>
              <div class="input-group">
                  <input type="text"
                  placeholder="Coleta por ({{ colsearch }})"
                  class="form-control"
                  [(ngModel)]="search"
                  (keyup.enter)="coletar(search, true)"/>
                  <div class="btn-group">
                    <button [disabled]="search===''"
                      class="btn btn-primary"
                      type="button"
                      tooltip="Marca como coletado"
                      style="border-top-left-radius: 0 !important;border-bottom-left-radius: 0 !important;"
                      (click)="coletar(search, true)">
                      Coletar
                    </button>

                  <div class="btn-group" dropdown>
                    <button id="button-split"
                      type="button"
                      dropdownToggle
                      class="btn btn-primary dropdown-toggle dropdown-toggle-split"
                      aria-controls="dropdown-split">
                      <span class="caret"></span>
                      <span class="sr-only">Split button!</span>
                    </button>
                    <ul id="dropdown-split"
                      *dropdownMenu class="dropdown-menu dropdown-menu-right"
                      role="menu"
                      aria-labelledby="button-split">

                      <li role="menuitem"
                        *ngFor="let col of datacolumns | filter : 'true' : 'visible'"
                        value="{{col.name}}">
                        <a class="dropdown-item" (click)="colsearch = col.name">
                          {{ col.caption }}
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
                <progressbar
                  class="searchpos"
                  [value]="(pcol)"
                  [type]="(pcol == 100 ? 'success' : 'primary')">
                  {{ pcol }}%
                </progressbar>
              </div>
            </div>
          </div>
        </th>
      </tr>

      <tr *ngIf="canfilter">
        <th [attr.colspan]="visiblecolumns()" class="thfilter">
          <div class="row">
            <div class="col-12 spacebetween">
              <span style="margin-right: 10px;">Filtro:</span>
              <div class="input-group">
                <input type="text"
                  class="form-control"
                  [(ngModel)]="searchText"
                  placeholder="Informe parte da pesquisa por ({{searchKey || 'qualquer campo'}})"
                  (change)="reloadProgressBar()">

                <div class="btn-group" dropdown>
                    <button id="button-split"
                      type="button"
                      dropdownToggle
                      class="btn btn-info dropdown-toggle dropdown-toggle-split"
                      aria-controls="dropdown-split">
                      <span class="caret"></span>
                      <span class="sr-only">Split button!</span>
                    </button>
                    <ul id="dropdown-split" *dropdownMenu class="dropdown-menu dropdown-menu-right"
                        role="menu" aria-labelledby="button-split">
                      <li role="menuitem"
                        *ngFor="let col of datacolumns | filter : 'true' : 'visible'"
                        value="{{col.name}}">
                        <a class="dropdown-item" (click)="searchKey = col.name">
                          {{ col.caption }}
                        </a>
                      </li>
                    </ul>
                  </div>
              </div>
            </div>
          </div>
        </th>
      </tr>

      <tr>
        <th [attr.colspan]="visiblecolumns()" class="thcolumns">
            <div class="input-group" role="group" style="padding-bottom: 5px;">

                <input type="text" class="form-control input-sm"
                  [(ngModel)]="pesquisa"
                  placeholder="Informe parte código ou parte da descrição"
                  (change)="resetapesquisa()">
                <div class="input-group-append">
                  <button [disabled]="(!pesquisando && pesquisa==='')"
                    class="btn btn-sm btn-primary btnpesquisa"
                    type="button"
                    tooltip="Pesquisa"
                    placement="left"
                    (click)="pesquisar()">
                    Pesquisar
                    <fa name="search" *ngIf="!pesquisando"></fa>
                    <fa name="refresh" animation="spin" *ngIf="pesquisando"></fa>
                  </button>
                </div>
              </div>
        </th>
      </tr>

      <tr>
        <th *ngFor="let col of (datacolumns ? datacolumns : []) | filter : 'true' : 'visible'" class="thcolumns">
          <div>
            {{ col.caption }}
            <!--<fa name="minus-square" (click)="showhidecolumn(col)"></fa>-->
            <fa name="sort-up" *ngIf="col.sort === -1" (click)="ordenar(col.name, col.sort)"></fa>
            <fa name="sort-down" *ngIf="col.sort === 1" (click)="ordenar(col.name, col.sort)"></fa>
            <fa name="sort" *ngIf="col.sort === 0" (click)="ordenar(col.name, col.sort)"></fa>
          </div>
        </th>
      </tr>

    </thead>

    <tbody>

      <tr *ngFor="let row of datasource">
        <td *ngFor="let col of datacolumns | filter : 'true' : 'visible'"
          [ngClass]="{'bglightgreen': (row['check']===true), 'txcenter': (col.name==='check'), 'txright': (col.type === 'number')}"
          (dblclick)="selectdata(row)">
            {{ row[col.name] }}
        </td>
      </tr>

      <tr class="thfooter">
        <td [attr.colspan]="visiblecolumns()">
          <div class="spacebetween">
          {{ (!datasource ? 0 : datasource.length) }} registro{{((datasource && datasource.length > 1) ? 's' : '')}} encontrado{{((datasource && datasource.length > 1) ? 's' : '')}}
          <div>
            <div class="btn-group" dropdown [dropup]="true">
              <button id="button-basic"
                type="button"
                class="btn btn-sm btn-info"
                tooltip="Propredades">
                <fa name="cog" (click)="openModal(template)"></fa>
              </button>

              <button id="button-split"
                type="button"
                dropdownToggle
                class="btn btn-sm btn-info dropdown-toggle dropdown-toggle-split"
                aria-controls="dropdown-split">
              </button>
              <ul id="dropdown-split"
                *dropdownMenu
                class="dropdown-menu dropdown-menu-right"
                role="menu"
                aria-labelledby="button-split">
                <li role="menuitem">
                  <a class="dropdown-item">
                    <label for="ckcoleta">
                    {{cancoleta ? 'Desabilitar' : 'Habilitar'}} coleta
                    <input id="ckcoleta" type="checkbox" [(ngModel)]="cancoleta" style="visibility: hidden;">
                    </label>
                  </a>
                </li>
                <li role="menuitem">
                  <a class="dropdown-item">
                    <label for="ckfiltro">
                    {{canfilter ? 'Desabilitar' : 'Habilitar'}} filtro
                    <input id="ckfiltro" type="checkbox" [(ngModel)]="canfilter" style="visibility: hidden;">
                    </label>
                  </a>
                </li>
                <li class="divider dropdown-divider"></li>
                <li role="menuitem">
                  <a class="dropdown-item" (click)="printDataset()">
                    Imprimir
                  </a>
                </li>
                <li class="divider dropdown-divider"></li>
                <li role="menuitem" *ngFor="let col of datacolumns">
                  <a class="dropdown-item">
                    <label for="ckcoleta">
                    {{col.visible ? 'Ocultar' : 'Mostrar'}} coluna <strong>"{{ col.caption }}"</strong>
                    <input id="ckcoleta" type="checkbox" (click)="showhidecolumn(col)" style="visibility: hidden;">
                    </label>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          </div>
        </td>
      </tr>

    </tbody>

  </table>
  </div>

  <div *ngIf="pagecount > 1">
    <td [attr.colspan]="visiblecolumns()">
      <div class="spacebetween">
        <pagination
          [disabled]="apierror"
          [(ngModel)]="currentPage"
          [totalItems]="pagecount * 10"
          [rotate]="true"
          [maxSize]="3"
          previousText="&lsaquo;"
          nextText="&rsaquo;"
          style="margin-right: 10px;"
          (pageChanged)="pageChanged($event)">
        </pagination>
        <span>Página {{ page }} de {{ pagecount }}</span>
      </div>
    </td>
  </div>
</div>

<!-- Modal window -->
<ng-template #template>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Propriedades</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="modalRef.hide()">Cancelar</button>
      <button type="button" class="btn btn-primary" (click)="modalRef.hide()">Ok</button>
    </div>
</ng-template>
