<div class="col-md">

  <div class="input-group" role="group" style="padding-bottom: 5px;">

    <input type="text" class="form-control"
      [(ngModel)]="pesquisa"
      placeholder="Informe parte código ou parte da descrição"
      (change)="resetapesquisa()">
    <div class="input-group-append">
      <button [disabled]="(!pesquisando && pesquisa==='')"
        class="btn btn-primary btnpesquisa"
        type="button"
        tooltip="Pesquisa"
        placement="left"
        (click)="pesquisar()">
        Pesquisar
        <fa name="search" *ngIf="!pesquisando"></fa>
        <fa name="refresh" animation="spin" *ngIf="pesquisando"></fa>
      </button>
    </div>

  </div>

  <div id="tabledataset">
  <table class="table table-sm table-hover table-bordered">

    <thead class="thead-dark">

      <tr>
        <th *ngFor="let col of datacolumns | filter : 'true' : 'visible'">
          <div>
            {{ col.caption }}
            <fa name="minus-square" (click)="showhidecolumn(col)"></fa>
            <fa name="sort-up" *ngIf="col.sort === -1" (click)="ordenar(col.name, col.sort)"></fa>
            <fa name="sort-down" *ngIf="col.sort === 1" (click)="ordenar(col.name, col.sort)"></fa>
            <fa name="sort" *ngIf="col.sort === 0" (click)="ordenar(col.name, col.sort)"></fa>
          </div>
        </th>
      </tr>

    </thead>

    <tbody>

      <tr *ngFor="let row of datasource">
        <td style="cursor: pointer;" [ngClass]="(col.type === 'number' ? 'txright' : '')" *ngFor="let col of datacolumns | filter : 'true' : 'visible'" (dblclick)="selectdata(row)">{{ row[col.name] }}</td>
      </tr>

      <tr class="footer">
        <td [attr.colspan]="visiblecolumns()">
          <div class="spacebetween">
          {{ (!datasource ? 0 : --datasource.length) }} registros encontrados
          <div>
            <div class="btn-group" dropdown [dropup]="true">
              <button id="button-basic"
                type="button"
                class="btn btn-info"
                tooltip="Propredades">
                <fa name="cog" (click)="openModal(template)"></fa>
                <!--<fa name="cog"></fa>-->
              </button>

              <button id="button-split"
                type="button"
                dropdownToggle
                class="btn btn-info dropdown-toggle dropdown-toggle-split"
                aria-controls="dropdown-split">
              </button>
              <ul id="dropdown-split"
                *dropdownMenu
                class="dropdown-menu dropdown-menu-right"
                role="menu"
                aria-labelledby="button-split">
                <li role="menuitem">
                  <a class="dropdown-item" (click)="printDataset()">
                    Imprimir
                  </a>
                </li>
                <li class="divider dropdown-divider"></li>
                <li role="menuitem" *ngFor="let col of datacolumns">
                  <a class="dropdown-item">
                    <label for="ckcoleta">
                    {{col.visible ? 'Ocultar' : 'Mostrar'}} coluna <strong>"{{ col.caption }}"</strong>
                    <input id="ckcoleta" type="checkbox" (click)="showhidecolumn(col)" style="visibility: hidden;">
                    </label>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          </div>
        </td>
      </tr>

    </tbody>

  </table>
  </div>

  <div *ngIf="pagecount > 0">
    <td [attr.colspan]="visiblecolumns()">
      <div class="spacebetween">
        <pagination
          [disabled]="apierror"
          [(ngModel)]="currentPage"
          [totalItems]="pagecount * 10"
          [rotate]="true"
          [maxSize]="3"
          previousText="Anterior"
          nextText="Próxima"
          style="margin-right: 10px;"
          (pageChanged)="pageChanged($event)">
        </pagination>
        <span>Página {{ page }} de {{ pagecount }}</span>
      </div>
    </td>
  </div>

  <alert type="danger" *ngIf="apierror">
    <fa name="bomb"></fa>
    Falha na requisição. A aplicação retornou erro: <strong>"{{ (!httperror ? '' : httperror).mensagem || 'Erro desconhecido!' }}"</strong>
  </alert>

</div>

<!-- tela centralizada para aguardar resposta -->
<app-loading aviso="Pesquisando..." *ngIf="pesquisando"></app-loading>

<!-- Modal window -->
<ng-template #template>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Propriedades</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="modalRef.hide()">Cancelar</button>
      <button type="button" class="btn btn-primary" (click)="modalRef.hide()">Ok</button>
    </div>
  </ng-template>


  {{ datacolumns | json }}
