th div {
  display: flex;
  justify-content: space-between;
}

.txcenter {
  text-align: center;
}

.txleft {
  text-align: left;
}

.txright {
  text-align: right;
}

.spacebetween {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

th fa {
  cursor: pointer;
}

.pesquisa {
  display: flex;
  justify-content: flex-start;
  height: 25px;
}

.footer {
  background-color: lightgrey;
}

.dropdown-item {
  cursor: pointer;
}
