<div class="col-md">

  <div class="input-group" role="group" style="padding-bottom: 5px;">

    <input type="text" class="form-control"
      [(ngModel)]="pesquisa"
      placeholder="Informe parte código ou parte da descrição"
      (change)="resetapesquisa()">
    <div class="input-group-append">
      <button [disabled]="(pesquisa==='' && !apierror)"
        class="btn btn-primary btnpesquisa"
        type="button"
        tooltip="Pesquisa"
        placement="left"
        (click)="pesquisar()">
        Pesquisar
        <fa name="search" *ngIf="!pesquisando"></fa>
        <fa name="spinner" animation="pulse" *ngIf="pesquisando"></fa>
      </button>
    </div>

  </div>

  <table class="table table-sm table-bordered">

    <thead class="thead-dark">

      <tr>
        <th *ngFor="let col of datacolumns | filter : 'true' : 'visible'">
          <div>
            {{ col.caption }}
            <fa name="sort-up" *ngIf="col.sort === -1" (click)="ordenar(col.name, col.sort)"></fa>
            <fa name="sort-down" *ngIf="col.sort === 1" (click)="ordenar(col.name, col.sort)"></fa>
            <fa name="sort" *ngIf="col.sort === 0" (click)="ordenar(col.name, col.sort)"></fa>
          </div>
        </th>
      </tr>

    </thead>

    <tbody>

      <tr *ngFor="let row of datasource">
        <td *ngFor="let col of datacolumns | filter : 'true' : 'visible'">{{ row[col.name] }}</td>
      </tr>

      <tr class="footer">
        <td [attr.colspan]="visiblecolumns()">{{ (!datasource ? 0 : --datasource.length) }} registros encontrados</td>
      </tr>

    </tbody>

  </table>

  <div *ngIf="pagecount > 1">
    <td [attr.colspan]="visiblecolumns()">
      <div class="spacebetween">
        <pagination
          [disabled]="apierror"
          [(ngModel)]="currentPage"
          [totalItems]="pagecount * 10"
          [rotate]="true"
          [maxSize]="3"
          previousText="Anterior"
          nextText="Próxima"
          style="margin-right: 10px;"
          (pageChanged)="pageChanged($event)">
        </pagination>
        <span>Página {{ page }} de {{ pagecount }}</span>
      </div>
    </td>
  </div>

  <alert type="danger" *ngIf="apierror">
    <fa name="bomb"></fa>
    Falha na requisição. A aplicação retornou erro: <strong>"{{ (!httperror ? '' : httperror).mensagem || 'Erro desconhecido!' }}"</strong>
  </alert>

</div>
