<div class="row">

  <div class="col col-4 col-sm-2">
      <input class="form-control" type="number" name="id" id="id" placeholder="Id" [(ngModel)]="inputid" (blur)="getDataById(inputid)"/>
    </div>
    <div class="col col-8 col-sm-10">
      <div class="input-group">
        <!--<input class="form-control" type="text" name="name" id="name" placeholder="Descricao" [(ngModel)]="inputname">-->

        <!--<input [(ngModel)]="inputname"
        [typeahead]="lista()"
        typeaheadWaitMs="3000"
        class="form-control">-->
        <!--
        <input class="form-control" type="search" (keypress)="onKeySearch()" list="listdata" [(ngModel)]="inputname">
        <datalist id="listdata" (click)="datalistSelected()">
          <option *ngFor="let item of apidata" [value]="item.descricao" data-id="item.id"></option>
       </datalist>
      -->
       <input [(ngModel)]="inputname"
       [ngModelOptions]="{standalone: true}"
       [typeahead]="apidata"
       typeaheadOptionField="descricao"
       (typeaheadOnSelect)="onSelectData($event)"
       class="form-control">


        <div class="input-group-append">
          <button class="btn btn-primary" type="button" (click)="openModal(template)"><fa name="search"></fa></button>
        </div>
      </div>
    </div>

  </div>

  <!--modal para busca-->
  <ng-template #template>
      <div class="modal-header">
        <h4 class="modal-title pull-left">{{title}}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-grid
          [apiroute]="apiroute"
          [pagesize]="pagesize"
          [title]="title"
          [pesquisa]="lookupselected.id || lookupselected.descricao || ''"
          (emitDataSelected)="onSelectData($event)"
          (emitFireData)="confirm()">
        </app-grid>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modalRef.hide()">Cancelar</button>
        <button type="button" class="btn btn-primary" (click)="confirm()" [disabled]="!lookupselected">Selecionar</button>
      </div>
    </ng-template>

    <fa name="spinner" animation="spin" class="loading" *ngIf="pesquisando"></fa>

    lookupselected: {{lookupselected | json}}
