<div class="toolbar">
  <div class="toolbarleft">
    <div class="btn-group">
      <!--<fa name="bars" class="sidebarcollapse" (click)="sidemenuopen = !sidemenuopen"></fa>-->
        <fa id="btnsidemenu" name="bars" (click)="onBtnSlideClick()"></fa>
    </div>
  </div>
  <div class="toolbarcenter">
    {{apptitle}}
  </div>
  <div class="toolbarright">

    <fa name="user-times" *ngIf="!useractive" [routerLink]="['/login']" routerLinkActive="router-link-active" ></fa>

    <!-- se estiver logado abre este menu -->
    <span class="btn-group" dropdown *ngIf="useractive">
      <fa name="user" id="button-basic" dropdownToggle class="dropdown-toggle" aria-controls="dropdown-basic">
        <span class="caret"></span>
      </fa>
      <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
        <li role="menuitem"><a class="dropdown-item">Propriedades</a></li>
        <li class="divider dropdown-divider"></li>
        <li role="menuitem"><a class="dropdown-item" (click)="logout()">Sair</a></li>
      </ul>
    </span>
    <!-- se estiver logado mostra icone com as mensagens -->
    <fa name="bell-slash" *ngIf="!useractive"></fa>

    <span class="btn-group btn-sm" dropdown placement="bottom right">
      <fa name="bell" *ngIf="useractive" dropdownToggle class="dropdown-toggle" aria-controls="dropdown-basic"></fa><span class="badge" *ngIf="useractive">5</span>
        <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="button-basic">
          <li *ngFor="let item of notifylist">
            <div class="dropdown-item">
              <input type="checkbox" id="check_{{item.id}}"/>
              <label for="check_{{item.id}}">{{item.assunto}}</label>
            </div>
          </li>
        </ul>
      </span>

    <span class="btn-group btn-sm" dropdown placement="bottom right">
      <fa name="cog" id="button-basic" dropdownToggle class="dropdown-toggle" aria-controls="dropdown-basic"></fa>
      <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="button-basic">
        <li dropdown triggers="mouseover" placement="left" container="body">
          <a dropdownToggle class="dropdown-item dropdown-toggle" (click)="false">
            Change colors
            <span class="caret"></span>
          </a>
          <ul *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu">
            <li role="menuitem"><a class="dropdown-item" (click)="changeTheme('kappesberg')">Kappesberg</a></li>
            <li role="menuitem"><a class="dropdown-item" (click)="changeTheme('purple')">UZ</a></li>
            <li role="menuitem"><a class="dropdown-item" (click)="changeTheme('gray')">Gray</a></li>
            <li role="menuitem"><a class="dropdown-item" (click)="changeTheme('red')">Idélli</a></li>
            <li role="menuitem"><a class="dropdown-item" (click)="changeTheme('orange')">My Home</a></li>
          </ul>
        </li>

      </ul>
    </span>

  </div>
</div>
