.dropdown-menu li {
  cursor: pointer;
}

.toolbar {
  background-color: var(--main-bgcolor);
  color: whitesmoke;
  display: flex;
  justify-content: space-between;
}
.toolbar fa {
  cursor: pointer;
  font-size: 22px;
  color: whitesmoke;
  padding: 15px;
}
.toolbar fa:hover {
  background-color: var(--main-bgcolor-hover);
  color: var(--main-color-hover);
}

.toolbarcenter {
  font-size: 32px;
  font-weight: bold;
}

.badge{
  position: relative;
  margin-left: -20px;
  top: 8px;
  border-radius: 50px;
  display: inline-table;
}

.btn-group {
  padding: 0;
}

/* media querys */
@media only screen and (max-width: 600px) {
  #btnsidemenu {visibility: visible;}
  .toolbarcenter {font-size: 26px;}
}

@media only screen and (max-width: 400px) {
  .toolbarcenter {font-size: 14px;}
}
