<div class="toolbar">
  <div class="toolbarleft">
    <div class="btn-group">
      <!--<fa name="bars" class="sidebarcollapse" (click)="sidemenuopen = !sidemenuopen"></fa>-->
      <fa id="btnsidemenu" name="bars" (click)="onBtnSlideClick()"></fa>
    </div>
  </div>
  <div class="toolbarcenter">
    Grupo K1 App
  </div>
  <div class="toolbarright">
<!--
    <div class="btn-group" dropdown placement="bottom right">
        <fa name="user" *ngIf="useractive"></fa>
    </div>
-->
    <fa name="user-times" *ngIf="!useractive" [routerLink]="['/login']" routerLinkActive="router-link-active" ></fa>
    <fa name="bell-slash" *ngIf="!useractive"></fa>

    <div class="btn-group btn-sm" dropdown placement="bottom right">
      <fa name="bell" *ngIf="useractive" dropdownToggle class="dropdown-toggle" aria-controls="dropdown-basic"></fa><span class="badge" *ngIf="useractive">15</span>
        <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="button-basic">
          <li *ngFor="let item of notifylist">
            <div class="dropdown-item">
              <input type="checkbox" id="check_{{item.id}}"/>
              <label for="check_{{item.id}}">{{item.assunto}}</label>
            </div>
          </li>
        </ul>
      </div>

    <div class="btn-group btn-sm" dropdown placement="bottom right">
      <fa name="cog" id="button-basic" dropdownToggle class="dropdown-toggle" aria-controls="dropdown-basic"></fa>
      <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="button-basic">
        <li role="menuitem" dropdown triggers="mouseover" placement="left" container="body">
          <a dropdownToggle class="dropdown-item dropdown-toggle">
            Change colors
            <span class="caret"></span>
          </a>
          <ul *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu">
            <li role="menuitem"><a class="dropdown-item" (click)="changeTheme('purple')">Purple</a></li>
            <li role="menuitem"><a class="dropdown-item" (click)="changeTheme('gray')">Gray</a></li>
          </ul>
        </li>

        <li class="divider dropdown-divider"></li>
        <li role="menuitem"><a class="dropdown-item">Separated link</a>
        </li>
      </ul>
    </div>

  </div>
</div>
