<div class="toolbar">
  <div class="toolbarleft">
    <!--<fa name="bars" class="sidebarcollapse" (click)="sidemenuopen = !sidemenuopen"></fa>-->
    <fa id="btnsidemenu" name="bars" (click)="onBtnSlideClick()"></fa>
  </div>
  <div class="toolbarcenter">
    Grupo K1 App
  </div>
  <div class="toolbarright">
    <fa name="user" *ngIf="useractive"></fa>
    <fa name="user-times" *ngIf="!useractive" [routerLink]="['/login']" routerLinkActive="router-link-active" ></fa>
    <fa name="bell" *ngIf="useractive"></fa><span class="badge" *ngIf="useractive">15</span>
    <fa name="bell-slash" *ngIf="!useractive"></fa>
    <fa name="cog"></fa>
  </div>
</div>
