.card {
  width: 350px;
  margin: 20px auto;
  padding: 30px;
  box-shadow: 0 0 30px 1px rgba(0,0,0,.15);
}
.entrar {
  width: 100%;
}
form {
  margin-top: 20px;
}

.user {
  border-radius: 10px;
  padding: 10px;
  background-color: mediumpurple;
  color: whitesmoke;
  margin-bottom: 10px;
}
.user fa {
  font-size: 48px;
  padding: 10px;
}
.user h5 {
  margin-left: 10px;
}
