.text-a-r {
  text-align: right;
}
.text-a-c {
  text-align: center;
}
td button {
  margin-left: 5px;
}
.loadspin {
/*   position: absolute;
  margin: 0 auto;
  top: 50%;
  left: 50%;
 */  color: darkgrey;
  z-index: 1000;
}
