<app-alert [show]="error" tipo='danger' [title]="(error ? error.title : '')" [mensagem]="(!error ? '' : error.mensagem)"></app-alert>
<app-alert [show]="success" tipo='success' [title]="(success ? success.title : '')" [mensagem]="(!success ? '' : success.mensagem)"></app-alert>
<app-loading [show]="loading" [aviso]="loadmessage"></app-loading>

<tabset [justified]="true">
  <tab heading="Relação de Despesas">

      <app-grid
      [apiroute]="'Representantes/Despesas/Lookup'"
      [pagesize]="5"
      [pesquisa]="'...'"
      [canedit]="true"
      [candelete]="true"
      [caninsert]="true"
      (emitDataSelected)="onSelectData($event)">
    </app-grid>

    <pre class="card card-block card-header mb-3">representantes: {{representantes | json}}</pre>
<!--
    <pre class="card card-block card-header mb-3">datalist: {{(showK1datalist().datalist) | json}}</pre>
    <pre class="card card-block card-header mb-3">k1data: {{(showK1datalist().k1data) | json}}</pre>
    <pre class="card card-block card-header mb-3">userdata: {{(showK1datalist().userdata) | json}}</pre>
-->
  </tab>

  <tab heading="Despesa [{{this.selected.id}}]">

    <form [formGroup]="formDespesa">
      <div class="form-group">

        <div class="row">
          <div class="col-sm">
            Saída - Retorno
            <input placeholder="Daterangepicker"
              type="text"
              class="form-control"
              bsDaterangepicker
              #dpr="bsDaterangepicker"
              [bsConfig]="{dateInputFormat: 'DD/MM/YYYY - DD/MM/YYYY'}"
              (bsValueChange)="onDataIntervalChange($event)"
              formControlName="DataInterval">
          </div>
        </div>

        <div class="row">
          <div class="col-sm">
            <label for="datainicio">Data Saída</label>
            <input type="date" class="form-control" id="datainicio" placeholder="Saida" formControlName="Data_Saida">
          </div>

          <div class="col-sm">
            <label for="usuarioassociado">Data Retorno</label>
            <input type="date" class="form-control" id="usuarioassociado" placeholder="Retorno" formControlName="Data_Retorno">
          </div>
        </div>

        <div class="row">
          <div class="col-sm">
            <label for="roteiro">Roteiro</label>
            <textarea class="form-control" id="roteiro" placeholder="Informe o roteiro da viagem" formControlName="Roteiro"></textarea>
          </div>
        </div>

        <div class="row">
          <div class="col-sm">
            <label for="observacoes">Observações</label>
            <textarea class="form-control" id="observacoes" placeholder="Informe observações sobre a viagem" formControlName="Observacoes"></textarea>
          </div>
        </div>

        <div class="row">
          <div class="col-sm">
            <label for="usuarioassociado">Usuário</label>
            <input type="text" class="form-control" id="usuarioassociado" placeholder="Informe o usuário" formControlName="UsuarioAssociado">
          </div>
        </div>

        <div class="row">
          <div class="col-sm">
            Evento:
            <!--<app-input-lookup [apidata]="despesaseventos" title="Eventos" [(inputModelChange)]="inputid"></app-input-lookup>-->
            <!--<app-input-lookup [apidata]="despesaseventos" title="Eventos" (inputModelChange)="getInput($event)"></app-input-lookup>--><!--Este funciona-->
            <!--<app-input-lookup [apidata]="despesaseventos" title="Eventos" [inputModelChange]="idevento"></app-input-lookup>--><!--Este Não Funciona-->
            <!--<app-input-lookup [apidata]="despesaseventos" title="Eventos" (inputModelChange)="selected.id_Evento = $event"></app-input-lookup>--><!--Este Funciona-->
            <app-input-lookup [apidata]="despesaseventos" title="Eventos" (inputModelChange)="(selected.id_Evento = $event)"></app-input-lookup><!--Este Funciona-->
          </div>
        </div>

        <div class="row">
          <div class="col-sm">
            Representantes:
            <app-input-lookup [apidata]="representantes" title="Representantes" (inputModelChange)="idrepres = $event"></app-input-lookup>
          </div>
        </div>

      </div>

      <div class="row">
        <div class="col-sm">
          <button type="button" class="btn btn-primary" (click)="salvar()">Salvar</button>
          <button type="button" class="btn btn-info" (click)="cancelar()">Cancelar</button>
          <button type="button" class="btn btn-danger" (click)="print()">Print Data Interval</button>
        </div>
      </div>
    </form>

     <br/>

    <pre class="card card-block card-header mb-3">form valid: {{formDespesa.valid}}</pre>
    <pre class="card card-block card-header mb-3">selected: {{selected | json}}</pre>
    <!--<pre class="card card-block card-header mb-3">idrepres: {{idrepres}}</pre>-->
    <!--<pre class="card card-block card-header mb-3">datasource: {{datasource | json}}</pre>-->
    <!--<pre class="card card-block card-header mb-3">lookupevento: {{lookupevento | json}}</pre>-->
    <!--<pre class="card card-block card-header mb-3">idevento: {{idevento}}</pre>-->
    <!--<pre class="card card-block card-header mb-3">selected.id_Evento: {{selected.id_Evento}}</pre>-->
    <!--<pre class="card card-block card-header mb-3">value of id_evento form: {{formDespesa.controls['id_Evento'].value}}</pre>-->
    <!--<pre class="card card-block card-header mb-3">datainterval: {{formDespesa.controls['DataInterval'].value}}</pre>-->

  </tab>

  <tab heading="Lançamentos" customClass="customClass">
    Em desenvolvimento..
  </tab>

</tabset>




