<div class="card card-stats border-primary">
  <!-- <div class="card-header" *ngIf="despdata">Relação de Despesas {{despdata.paginas.PageNumber}} até {{despdata.paginas.PageCount}}</div> -->
  <div class="card-header text-white bg-primary"><div class="titlecad"><div class=caption>Relação de Despesas</div><div class=actionbuttons><button class="btn btn-sm btn-success"><i class="fa fa-plus"></i> Nova despesa</button></div></div></div>
  <!-- Card body -->
  <div class="card-body">

    <table class="table table-striped">

    <thead>
      <tr>
        <th *ngFor="let cols of despdata.Columns">
          {{cols}}
        </th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let rows of despdata.Data">
        <td [className]="isNumber(rows[cols]) ? 'text-a-r' : ''" *ngFor="let cols of despdata.Columns">
          <!-- <span *ngIf="isDate(rows[cols])">{{rows[cols] | date:'dd/MM/yyyy'}}</span> -->
          <!-- <span *ngIf="!isDate(rows[cols])">{{rows[cols]}}</span> -->
          <span>{{rows[cols]}}</span>
        </td>
        <td>
          <button class="btn btn-primary fa fa-pencil" [routerLink]="['/despesafrm', rows['id']]"></button>
          <button class="btn btn-primary fa fa-heart-o" (click)="openDespesa(despfrm, rows)"></button>
          <button class="btn btn-danger fa fa-trash" routerLink="/despesafrm/{{rows['id']}}/delete"></button>
        </td>
      </tr>
      <tr>
        <td *ngIf="loading" align="center" colspan="1000">
          <fa name="refresh" animation="pulse" class='fa-2x loadspin'></fa>
        </td>
    </tbody>

    </table>
  </div>
</div>

<!-- modal windows -->
<ng-template #despfrm>
  <app-despesa-frm></app-despesa-frm>
</ng-template>

<!-- <pre class="card card-block card-header mb-3">despdata: {{ despdata | json}}</pre> -->
