* {
  margin: 0;
  padding: 0;;
  background-color: rebeccapurple;
  transition: background-color 0.5s;
  transition-property: background-color;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  transition-delay: 0s;
}

.logo {
  padding: 15px;
}

.divider {
  border-bottom: 1px solid grey;
}

ul {
  list-style: none;
}

ul li {
  border-bottom: 1px solid silver;
  padding: 10px;
  cursor: pointer;
  font-weight: bold;
  color: whitesmoke;
}

ul li fa {
  margin-right: 10px;
  font-size: 18px;
}

ul li:hover {
  background-color: mediumpurple;
}

ul li:hover fa {
  background-color: mediumpurple;
}
