
<div class="logo">
  <img class="imglogo">
</div>

<div class="filtro">
  <input type="text" class="form-control" [(ngModel)]="filtro" placeholder="Filtro">
</div>

<hr>

<div class="progress" *ngIf="loading">
  <div class="progress-bar progress-bar-striped progress-bar-animated"
    role="progressbar"
    aria-valuenow="100"
    aria-valuemin="0"
    aria-valuemax="100"
    style="width: 100%">
  </div>
</div>

<ul (click)="onSelectItem()">
  <li *ngFor="let menu of datasource | filter : filtro : 'caption'"
    [routerLink]="[menu.action]"
    routerLinkActive="router-link-active">
    <fa name="{{menu.icon}}" *ngIf="menu.icon"></fa>
    {{menu.caption}}

    <!--<ul class="submenu">
      <li>Item 1</li>
      <li>Item 2</li>
      <li>Item 3</li>
    </ul>-->
<!--
  </li>
  <li [routerLink]="['/despesas']" routerLinkActive="router-link-active" >
    <fa name="child"></fa>
    Natália e Marina
  </li>
-->
  <!--
  <li [routerLink]="['/home']" routerLinkActive="router-link-active" ><fa name="home"></fa>Home</li>
  <li [routerLink]="['/coleta']" routerLinkActive="router-link-active" >Coleta</li>
  <li [routerLink]="['/represlookup']" routerLinkActive="router-link-active" >Lista Representante</li>
  <li>Item 1</li>
  <li>Item 2</li>
  -->
</ul>

<!--Menu: {{datasource | json}}-->
