/*
-- tentando colocar no styles.css
:root {
  --main-bgcolor: rebeccapurple;
  --main-bgcolor-hover: mediumpurple;
}
*/

* {
  margin: 0;
  padding: 0;;
  background-color: var(--main-bgcolor);
}

.progress {
  margin: 3px;
}

.logo {
  padding: 15px;
  text-align: center;
  border-top: 1px solid gray;
}

.imglogo {
  content: var(--main-sidebarimage);
}

.divider {
  border-bottom: 1px solid grey;
}

ul {
  list-style: none;
  overflow: auto;
}

ul li {
  border-bottom: 1px solid silver;
  padding: 10px;
  cursor: pointer;
  font-weight: bold;
  color: whitesmoke;
}

ul li fa {
  margin-right: 10px;
  font-size: 18px;
}

ul li:hover {
  background-color: var(--main-bgcolor-hover);
}

ul li:hover fa {
  background-color: var(--main-bgcolor-hover);
}

ul li.submenu {
  font-size: 10px;
}
