<!---->
<pre class="card card-block card-header mb-3">representantes work's</pre>
<!---->

<!--
<app-gauge [value]="75" [color]="'red'"></app-gauge>
-->

<!--
<app-grid
  [apiroute]="'Representantes/Lookup'"
  [pagesize]="15"
  (emitDataSelected)="onSelectData($event)">
</app-grid>
-->

<!--
Representante: <app-input-lookup [apidata]="representantes" title="Representantes"></app-input-lookup>
-->

<label for="thRepres">Representante:</label>
<input *ngIf="representantes"
id="thRepres"
class="form-control"
[(ngModel)]="lookRepres"
[ngModelOptions]="{standalone: true}"
[typeahead]="representantes"
(ngModelChange)="idRepres = $event.id"
typeaheadOptionField="descricao">

<pre *ngIf="representantes" class="card card-block card-header mb-3">
  Representantes JSON: {{representantes | json}}
  Representante escolhido: {{idRepres}}
</pre>


<label for="thEvento">Eventos:</label>
<input *ngIf="despesaseventos"
id="thEvento"
class="form-control"
[(ngModel)]="lookEvento"
[ngModelOptions]="{standalone: true}"
[typeahead]="despesaseventos"
(typeaheadOnSelect)="idEvento = $event.item.id"
typeaheadOptionField="descricao">

<pre *ngIf="despesaseventos" class="card card-block card-header mb-3">
  Eventos JSON: {{[despesaseventos[0]] | json}}
  Evento escolhido: {{idEvento}}
</pre>


