<!---->
<pre class="card card-block card-header mb-3">representantes work's</pre>
<!---->

<!--
<app-gauge [value]="75" [color]="'red'"></app-gauge>
-->

<!--
<app-grid
  [apiroute]="'Representantes/Lookup'"
  [pagesize]="15"
  (emitDataSelected)="onSelectData($event)">
</app-grid>
-->

<!--
Representante: <app-input-lookup [apidata]="representantes" title="Representantes"></app-input-lookup>
-->

<!--
<table style="width: 100%">
  <tr>
    <th class="thcoleta">thcoleta</th>
  </tr>
  <tr>
    <th class="thfilter">thfilter</th>
  </tr>
  <tr>
    <th class="thcolumns">thcolumns</th>
  </tr>
</table>
-->

<pre class="card card-block card-header mb-3">representantes: {{representantes | json}}</pre>

<pre class="card card-block card-header mb-3">despesaseventos: {{[despesaseventos[0]] | json}}</pre>


