<!--
<app-gauge [value]="95" [color]="'red'"></app-gauge>

<app-grid
  [apiroute]="'Representantes/Lookup'"
  [pagesize]="15"
  (emitDataSelected)="onSelectData($event)">
</app-grid>
-->

Representante: <app-input-lookup [apiroute]="'Representantes/Lookup'" title="Representantes"></app-input-lookup>

<br>

datalookup: {{datalookup | json}}

<!--
<table style="width: 100%">
  <tr>
    <th class="thcoleta">thcoleta</th>
  </tr>
  <tr>
    <th class="thfilter">thfilter</th>
  </tr>
  <tr>
    <th class="thcolumns">thcolumns</th>
  </tr>
</table>
-->
