:root {
  --main-screen: 400;
}

* {
  transition: background-color 0.5s;
  transition-property: background-color;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  transition-delay: 0s;
}

/* header */
.headtitle {
  padding: 20px;
  border: 1px solid;
  margin-bottom: 10px;
  border-radius: 3px;
  background-color: cadetblue;
  color: whitesmoke;
  font-style: italic;
}
.headtitle span {
  font-size: 10px;
}

.content {
  display: flex;
  justify-content: flex-start;
/*   position: absolute;
  height: 100%;
  width: 90%;
 */}
.sidebar {
  /* overflow-y: scroll; */
  width: 350px;
  height: auto;
  margin-left: var(--main-slidemenu-width);
  transition: margin-left 1s;
    transition-property: margin-left;
    transition-duration: 1s;
    transition-timing-function: ease;
    transition-delay: 0s;
}
.sidebarshow {
  margin-left: var(--main-slidemenu-width) !important;
}
#btnsidemenu {
  visibility: hidden;
}

.router {
  /* background-color: whitesmoke; */
  width: 100%;
  padding-bottom: 90px;
  /* overflow: auto; */
  margin: 5px;
 }

 .footer {
  background-color: lightsteelblue;
  color: steelblue;
  position: absolute;
  display: flex;
  justify-content: flex-end;
  padding: 5px;
  font-size: 10px;
  font-style: italic;
  width: 100%;
}

@media only screen and (max-width: 1200px) {
  :root{
    --main-screen: 1200;
    --main-slidemenu-width: 0; /* tela grande abrir automático */
  }
  .sidebar {
    position: absolute;
    z-index: 1000;
    border-right-style: solid;
    border-right-color: white;
    border-bottom-style: solid;
    border-bottom-color: white;
    border-radius: 5px;
  }
}
@media only screen and (max-width: 1000px) {
  :root{
    --main-screen: 1000;
  }
}
@media only screen and (max-width: 800px) {
  :root{
    --main-screen: 800;
  }
}
@media only screen and (max-width: 600px) {
  :root{
    --main-screen: 600;
  }
}
@media only screen and (max-width: 400px) {
  :root{
    --main-screen: 400;
  }
}

/*
half-icons...
@media only screen and (max-width: 1200px) {
  .sidebar {width: 64px;}
  .logo img {width: 35px;}
  app-sidebar.sidebar ul li fa {font-size: 40px;}
  ul li:last-child {visibility: hidden;}
}
*/
