* {
  transition: background-color 0.5s;
  transition-property: background-color;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  transition-delay: 0s;
}

.main {
  background-color: silver;
}

/* header */
.header {
  background-color: grey;
}

.content {
  background-color: blue;
  display: flex;
  justify-content: flex-start;
  position: fixed;
  height: 100%;
  width: 100%;
}
.sidebar {
  background-color: darkorchid;
  width: 350px;
  margin-left: 0;
  transition: margin-left 1s;
    transition-property: margin-left;
    transition-duration: 1s;
    transition-timing-function: ease;
    transition-delay: 0s;
}
.sidebarshow {
  margin-left: 0 !important;
}
#btnsidemenu {
  visibility: hidden;
}

.router {
  background-color: whitesmoke;
  width: 100%;
  padding: 15px;
  overflow: auto;
 }

 .footer {
  background-color: lightsteelblue;
  color: steelblue;
  display: flex;
  justify-content: flex-end;
  padding: 5px;
  font-size: 10px;
  font-style: italic;
  position: fixed;
  bottom: 0;
  width: 100%;
}


@media only screen and (max-width: 1200px) {
  .sidebar {margin-left: -350px;}
}

/*
half-icons...
@media only screen and (max-width: 1200px) {
  .sidebar {width: 64px;}
  .logo img {width: 35px;}
  app-sidebar.sidebar ul li fa {font-size: 40px;}
  ul li:last-child {visibility: hidden;}
}
*/
