<div class="main">

  <!--header-->
  <div class="header">
    <div class="toolbar">

      <app-toolbar (emitSidemenu)="slide($event)"></app-toolbar>

    </div>
  </div>

  <!--content-->
  <div class="content">

    <!--sidebar-->
    <!--<div [ngClass]="(sidemenuopen ? 'sidebar sidebarshow' : 'sidebar')">-->
    <!--
    <div class="sidebar" [ngClass]="(sidemenuopen ? 'sidebarshow' : '')">

      <app-sidebar (emitSlide)="sidemenuopen = !sidemenuopen"></app-sidebar>

    </div>
    -->
    <div class="sidebar">

      <app-sidebar></app-sidebar>

    </div>
    <!--router-->
    <div class="router">

      <router-outlet></router-outlet>

    </div>

  </div>

  <!--footer-->
  <div class="footer">

    <app-footer></app-footer>

  </div>

</div>
