<div class="main">

  <!--header-->
  <div class="header">
    <div class="toolbar">

      <app-toolbar (emitSidemenu)="slide($event)"></app-toolbar>

    </div>
  </div>

  <!--content-->
  <div class="content">

    <!--sidebar-->
    <!--<div [ngClass]="(sidemenuopen ? 'sidebar sidebarshow' : 'sidebar')">-->
    <!--
    <div class="sidebar" [ngClass]="(sidemenuopen ? 'sidebarshow' : '')">

      <app-sidebar (emitSlide)="sidemenuopen = !sidemenuopen"></app-sidebar>

    </div>
    -->
    <div class="sidebar">

      <app-sidebar></app-sidebar>

    </div>
    <!--router-->
    <div class="router">

      <!--messages routers-->
      <app-alert [show]="error.error" tipo='danger' [title]="(error ? error.title : '')" [mensagem]="(!error ? '' : error.mensagem)"></app-alert>
      <app-alert [show]="success.success" tipo='success' [title]="(success ? success.title : '')" [mensagem]="(!success ? '' : success.mensagem)"></app-alert>
      <app-loading [show]="loading.loading" [aviso]="loading.message"></app-loading>

      <div class="headtitle">
        <div class="caption">Despesas <span>({{rotaativa}})</span></div>
      </div>
      <router-outlet></router-outlet>

    </div>

  </div>

  <!--footer-->
  <div class="footer">

    <app-footer></app-footer>
    <button class="btn btn-sm btn-success" (click)="toaster()">Teste</button>

  </div>

</div>

<!--modal window para informativos-->
