<!--<div class="form" *ngIf="frmDados">-->
<div class="card border-primary">

  <div class="card-header text-white bg-primary">Despesas</div>

  <div class="card-body">

    <div class="form-group">
      <form  [formGroup]="formDespesa">
      <div class="row">
        <div class="col-sm">
          Saída - Retorno
          <input placeholder="Informe o perído da viagem" type="text" class="form-control" bsDaterangepicker #dpr="bsDaterangepicker"
            [bsConfig]="{rangeInputFormat: 'DD/MM/YYYY'}"
            (bsValueChange)="onDataIntervalChange(['Data_Saida','Data_Retorno'], $event)">
        </div>
      </div>

      <div class="row">
        <div class="col-sm">
          <label for="idroteiro">Roteiro</label>
          <textarea class="form-control" id="idroteiro" placeholder="Informe o roteiro da viagem"
            formControlName="Roteiro"></textarea>
        </div>
      </div>

      <div class="row">
        <div class="col-sm">
          <label for="observacoes">Observações</label>
          <textarea class="form-control" id="observacoes" placeholder="Informe observações sobre a viagem"
            formControlName="Observacoes"></textarea>
        </div>
      </div>

      <div class="row">
        <div class="col-sm">
          <label for="thEvento">Evento</label>
          <input *ngIf="despesaseventos" id="thEvento" class="form-control" [typeahead]="despesaseventos"
            [ngModel]="lookEvento" [ngModelOptions]="{standalone: true}" typeaheadOptionField="descricao"
            (typeaheadOnSelect)="onTypeaheadSelect('idEvento', $event)">
        </div>
      </div>
      </form>

    </div>

    <div class="row">
      <div class="col">
        <button [disabled]="!formDespesa.valid" class="form-control btn btn-primary" (click)="salvar()">Salvar</button>
      </div>
      <div class="col">
        <button class="form-control btn btn-warning">Excluir</button>
      </div>

    </div>
  </div>

</div>

<br/>

<!-- <pre class="card card-block card-header mb-3">frmDados: {{ frmDados | json }}</pre> -->
<!-- <pre class="card card-block card-header mb-3">formDespesa: {{ formDespesa.getRawValue() | json}}</pre> -->
<pre class="card card-block card-header mb-3">formDespesa: {{ formDespesa.value | json}}</pre>
<pre class="card card-block card-header mb-3">valid: {{formDespesa.valid}}</pre>
