<!--<div class="form" *ngIf="frmDados">-->


<div class="card border-primary">

  <div class="card-header text-white bg-primary font-weight-bold" [appCopyClip]="idDespesa">Despesa #{{idDespesa}}</div>

  <div class="card-body">

    <tabset [justified]="true">

      <tab heading="Principal">

        <div class="form-group">
          <form  [formGroup]="formDespesa">

            <div class="row">
              <div class="col-sm">
                Saída - Retorno
                <input placeholder="Informe o perído da viagem" type="text" class="form-control" bsDaterangepicker #dpr="bsDaterangepicker"
                  [(bsValue)]="bsrangedata"
                  [bsConfig]="{rangeInputFormat: 'DD/MM/YYYY'}"
                  (bsValueChange)="onDataIntervalChange(['Data_Saida','Data_Retorno'], $event)">
              </div>
            </div>

            <div class="row">
              <div class="col-sm">
                Roteiro
                <textarea class="form-control" placeholder="Informe o roteiro da viagem"
                  formControlName="Roteiro"></textarea>
              </div>
            </div>

            <div class="row">
              <div class="col-sm">
                Observações
                <textarea class="form-control" placeholder="Informe observações sobre a viagem"
                  formControlName="Observacoes"></textarea>
              </div>
            </div>

            <div class="row">
              <div class="col-sm">
                Evento
                <input *ngIf="despesaseventos" class="form-control" [typeahead]="despesaseventos"
                  [(ngModel)]="lookEvento" [ngModelOptions]="{standalone: true}" typeaheadOptionField="descricao"
                  (typeaheadOnSelect)="onTypeaheadSelect('id_Evento', $event)">
              </div>
            </div>
          </form>

        </div>

        <div class="row">
          <div class="col-sm">
            <button id="tremer" [disabled]="!formDespesa.valid && finishload" class="form-control btn btn-primary" (click)="salvar()">Salvar</button>
          </div>
          <div class="col-sm">
            <button class="form-control btn btn-danger" (click)="setdata()">Excluir</button>
          </div>
          <div class="col-sm">
            <button class="form-control btn btn-secondary" (click)="bsModalRef.hide()">Cancelar</button>
          </div>
        </div>

        </tab>

        <tab heading="Lançamentos">
          Lançamentos da despesa
        </tab>

    </tabset>

  </div>

</div>

<br/>

<!-- <pre class="card card-block card-header mb-3">frmDados: {{ frmDados | json }}</pre> -->
<!-- <pre class="card card-block card-header mb-3">formDespesa: {{ formDespesa.getRawValue() | json}}</pre>-->
<!-- <pre class="card card-block card-header mb-3">bsrangedata: {{ bsrangedata }}</pre> -->
<!-- <pre class="card card-block card-header mb-3">lookEvento: {{ lookEvento }}</pre> -->
<!-- <pre class="card card-block card-header mb-3">formDespesa: {{ formDespesa.value | json}}</pre> -->
<!-- <pre class="card card-block card-header mb-3">Form: Valid: {{formDespesa.valid}} | Status: {{ formDespesa.status }}</pre> -->
<!-- <pre class="card card-block card-header mb-3">despesaseventos: {{despesaseventos | json }}</pre> -->

