.row {
  margin: 0;
}
.col-sm {
  /*background-color: var(--OffLineBackground);*/
  background-color: rgb(238, 237, 237);
  margin: 5px;
  padding: 5px;
  border-radius: 3px;
}
.text-a-r {
  text-align: right;
}
.text-a-c {
  text-align: center;
}
.table {
  background-color: whitesmoke;
}
.card-header {
  background-color: darkmagenta;
  color: whitesmoke;
  font-weight: bold;
}
.nopad {
  padding: 0 !important;
}
.nomarg {
  margin: 0 !important;
}
