
<div class="container">
  <div class="row">

    <div class="col-sm">

      <app-labelinfo></app-labelinfo>

    </div>

    <div class="col-sm">
      One of three columns
    </div>

    <div class="col-sm">
      One of three columns
    </div>

  </div>

  <!--grafico-->
  <div class="row">

    <div class="col-sm">
      grafico
    </div>

  </div>

  <!--ultimos lctos-->
  <div class="row">

    <div class="col-sm">
      <div class="row">
        <div class="col-sm">Tabela lctos</div>
      </div>
    </div>

    <div class="col-sm">
      <div class="row">
        <div class="col-sm"><app-gauge value="45" color="red"></app-gauge></div>
      </div>
      <div class="row">
        <div class="col-sm"><app-gauge value="76" color="yellow"></app-gauge></div>
      </div>
    </div>

  </div>

</div>


