
<div class="container">
  <div class="row">

    <div class="col-sm">

      <app-labelinfo title="Faturamento" subtitle="R$ 150.358,32" text="Atualizado em 23/01/2020" perc="83.50"></app-labelinfo>

    </div>

    <div class="col-sm">

      <app-labelinfo title="Assistências" subtitle="R$ 13.180,29" text="Atualizado em 22/01/2020" perc="-3.25" mainicon="fa fa-arrow-down"></app-labelinfo>

    </div>

    <div class="col-sm">

      <app-labelinfo title="Pedidos" subtitle="R$ 8.230,47" text="Atualizado em 22/01/2020" perc="15.19" mainicon="fa fa-arrow-up" mainiconcolor="bg-gradient-blue"></app-labelinfo>

    </div>

  </div>

  <!--grafico-->
  <div class="row">

    <div class="col-sm">
      grafico
    </div>

  </div>

  <!--ultimos lctos-->
  <div class="row">

    <div class="col-sm">
      <div class="row">
        <div class="col-sm">Tabela lctos</div>
      </div>
    </div>

    <div class="col-sm">
      <div class="row">
        <div class="col-sm"><app-gauge value="45" color="red"></app-gauge></div>
      </div>
      <div class="row">
        <div class="col-sm"><app-gauge value="76" color="yellow"></app-gauge></div>
      </div>
    </div>

  </div>

</div>


