/* You can add global styles to this file, and also import other style files */
:root {
  --main-bgcolor: rebeccapurple;
  --main-color-hover: whitesmoke;
  --main-bgcolor-hover: mediumpurple;
  --main-sidebarimage: url(./assets/images/logoPortalK1.png);
  --main-slidemenu-width: -350px;
  --OffLineBackground: silver;
}

.dropdown-item.disabled,
.dropdown-item:disabled {
  text-decoration:line-through;
}
