<div class="row">
  <div class="col-8" *ngIf="canColet">
    <div class="input-group mb-3">
      <input type="text"
        placeholder="Coleta por ({{ colsearch }})"
        class="form-control"
        [(ngModel)]="search"
        (keyup.enter)="coletar(search, true)"/>
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" class="btn btn-primary" ngbTooltip="htmlContent" (click)="coletar(search, true)"> Coletar </button>
      </div>
      <progressbar class="searchpos" [value]="(pcol)" [type]="(pcol == 100 ? 'success' : 'primary')">{{ pcol }}%</progressbar>
    </div>
  </div>
  <div class="col-4">
    <button type="button" class="btn btn-primary btn-sm" (click)="openModal(template)">Propriedades</button>
  </div>
</div>

<div class="row">
  <div class="col-md">

    <table class="table table-sm table-bordered">
      <thead class="thead-dark">
        <tr *ngIf="canfilter">
          <th [attr.colspan]="visibleColumns()" class="thfilter">
            <div class="row">
              <div class="col-12 spacebetween">
                <span style="margin-right: 10px;">Filtro:</span>
                <input type="text" class="form-control form-control-sm" [(ngModel)]="searchText" placeholder="Informe parte da pesquisa por ({{searchKey || 'qualquer campo'}})" (change)="reloadProgressBar()">
                <select name="lsFilter" id="idFilter" class="form-control form-control-sm" [(ngModel)]="searchKey" cols="10">
                  <option *ngFor="let col of columns | filter : 'true' : 'visible'" value="{{col.name}}" [selected]="col.name===searchKey">{{ col.caption }}</option>
                </select>
              </div>
            </div>
          </th>
        </tr>

        <tr>
          <th scope="col"
           *ngFor="let col of columns | filter : 'true' : 'visible'"
           [ngClass]="{'txhighlight':col.name==searchKey}">
           <div>
           {{ col.caption }}
             <fa name="sort-up" *ngIf="col.sort === -1" (click)="ordenar(col.name, col.sort)"></fa>
             <fa name="sort-down" *ngIf="col.sort === 1" (click)="ordenar(col.name, col.sort)"></fa>
             <fa name="sort" *ngIf="col.sort === 0" (click)="ordenar(col.name, col.sort)"></fa>
           </div>
          </th>
        </tr>
      </thead>

      <tbody>
        <tr *ngIf="1===2">
          <td [attr.colspan]="visibleColumns()">
              <progressbar [value]="(pcol)" [type]="(pcol == 100 ? 'success' : 'primary')">{{ pcol }}%</progressbar>
          </td>
        </tr>

        <tr *ngFor="let row of dataset | filter : searchText : searchKey || ''">
          <td scope="row"
            *ngFor="let col of columns | filter : 'true' : 'visible'"
            class="bgwhite"
            [ngClass]="{'bglightgreen': (row['check']===true), 'txcenter': (col.name==='check'), 'txright': (col.type === 'number')}">
            <span *ngIf="col.name==='check'">
                <div class="form-check">
                  <input type="checkbox"
                    class="form-check-input"
                    [ngModel]="row['check']"
                    (click)="coletar(row[colsearch], !row['check'])"/>
                </div>
            </span>
            <span *ngIf="col.name!=='check'">{{ row[col.name] }}</span>
          </td>
        </tr>

        <tr>
          <td [attr.colspan]="visibleColumns()" class="thfooter">
            <div class="spacebetween">
              {{ this.dataset.length }} registros encontrados
              <fa name="cog" style="cursor: pointer;" (click)="openModal(template)"></fa>
            </div>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="paginator" *ngIf="pagecount > 1">
      <pagination
        [totalItems]="pagecount*10"
        [rotate]="true"
        [maxSize]="3"
        previousText="Anterior"
        nextText="Próxima"
        style="margin-right: 10px;">
      </pagination>
      <span>Página {{ page }} de {{ pagecount }}</span>
    </div>

  </div>
</div>

<!-- Modal window -->
<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Propriedades</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-5">
          Elemento root
      </div>
      <div class="col-7">
        <div class="form-group">
          <input type="text" [(ngModel)]="rootElement">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-5">
          URL API
      </div>
      <div class="col-7">
        <div class="form-group">
          <input type="text" [(ngModel)]="urlapi">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-5">
          Token
      </div>
      <div class="col-7">
        <div class="form-group">
          <input type="text" [(ngModel)]="token">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <button type="button" class="btn btn-primary" (click)="getFromAPI()">Ok</button>
      </div>
    </div>

    <div class="row">
      <div class="col-5">
          Campo para Coleta
      </div>
      <div class="col-7">
        <div class="form-group">
          <select name="lsColumns" id="idColumns" class="form-control form-control-sm" (change)="mudacolumnsearch($event.target.value)">
            <option *ngFor="let col of columns | filter : 'true' : 'visible'" value="{{col.name}}" [selected]="col.name===colsearch">{{ col.caption }}</option>
          </select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-5">
          Campo para Filtragem
      </div>
      <div class="col-7">
        <div class="form-group">
          <select name="lsFilter" id="idFilter" class="form-control form-control-sm" [(ngModel)]="searchKey">
            <option *ngFor="let col of columns" value="{{col.name}}" [selected]="col.name===searchKey">{{ col.caption }}</option>
          </select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-5">
          Habilitar filtro
      </div>
      <div class="col-7">
        <div class="form-group">
          <input type="checkbox" [(ngModel)]="canfilter">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-5">
          Habilitar Progress Bar
      </div>
      <div class="col-7">
        <div class="form-group">
          <input type="checkbox" [(ngModel)]="canProgress">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-5">
          Habilitar Coleta
      </div>
      <div class="col-7">
        <div class="form-group">
          <input type="checkbox" [(ngModel)]="canColet">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="row">
          <div class="col-12">
              Informe o json a ser processado...
          </div>
        </div>
        <div class="row">
          <div class="col-12">
              <textarea #dataset rows="10" style="width: 100%" [(ngModel)]="mudadata"></textarea>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
              <button type="button" class="btn btn-primary" (click)="mudaDataSet(mudadata)">Ok</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary btn-sm" (click)="modalRef.hide()">Cancelar</button>
    <button type="button" class="btn btn-primary" (click)="modalRef.hide()">Ok</button>
  </div>
</ng-template>

