<div class="row">
  <div class="col-8">
    <div class="input-group mb-3">
      <input type="text"
        (input)="search = $event.target.value"
        (keyup.enter)="coletar(search, true)"
        [value]="search"/>
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" class="btn btn-primary" ngbTooltip="htmlContent" (click)="coletar(search, true)"> Coletar </button>
      </div>
    </div>
  </div>
  <div class="col-4">
    <button type="button" class="btn btn-primary" (click)="openModal(template)">Propriedades</button>
  </div>
</div>

<div class="row">
  <div class="col-md">
    <table class="table table-sm table-bordered">
      <thead class="thead-dark">
        <tr>
          <th scope="col"
           *ngFor="let col of columns"
           [ngClass]="{'txcenter': col.type=='boolean', 'txright':col.type=='number'}"
           (click)="ordenar(col.name, col.sort)">
           {{ col.caption }}
           <fa name="sort-up" *ngIf="col.sort === -1"></fa>
           <fa name="sort-down" *ngIf="col.sort === 1"></fa>
           <fa name="sort" *ngIf="col.sort === 0"></fa>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td [attr.colspan]="columns.length">
              <progressbar [value]="(pcol)" [type]="(pcol == 100 ? 'success' : 'primary')">{{ pcol }}%</progressbar>
          </td>
        </tr>
        <tr *ngFor="let row of dataset">
          <td scope="row"
            *ngFor="let col of columns"
            class="bgwhite"
            [ngClass]="{'bglightgreen': (row['check']===true), 'txcenter': (col.name==='check'), 'txright': (col.type === 'number')}">
            <span *ngIf="col.name==='check'">
                <div class="form-check">
                  <input type="checkbox"
                    class="form-check-input"
                    [ngModel]="row['check']"
                    (click)="coletar(row[colsearch], !row['check'])"/>
                </div>
            </span>
            <span *ngIf="col.name!=='check'">{{ row[col.name] }}</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- Modal window -->
<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Propriedades</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-4">
          Campo da Coleta
      </div>
      <div class="col-8">
        <select name="lsColumns" id="idColumns" class="form-control form-control-sm" (change)="mudacolumnsearch($event.target.value)">
          <option *ngFor="let col of columns" value="{{col.name}}" [selected]="col.name===colsearch">{{ col.name }}</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="row">
          <div class="col-12">
              Informe o json a ser processado...
          </div>
        </div>
        <div class="row">
          <div class="col-12">
              <textarea #dataset rows="10" style="width: 100%" [(ngModel)]="mudadata"></textarea>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
              <button type="button" class="btn btn-primary" (click)="mudaDataSet(mudadata)">Ok</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modalRef.hide()">Cancelar</button>
    <button type="button" class="btn btn-primary" (click)="modalRef.hide()">Ok</button>
  </div>
</ng-template>
