
th div {
  display: flex;
  justify-content: space-between;
}

.actionbuttons {
  white-space: nowrap;
}

.actionbuttons button {
  margin-right: 3px;
}

.selected {
  background-color: lightseagreen !important;
  color: white;
}
.selected:hover {
  color: white;
}

.txcenter {
  text-align: center;
}

.txleft {
  text-align: left;
}

.txright {
  text-align: right;
}

.spacebetween {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

table {
  background-color: white;
}

table td {
  transition: background-color 1s;
    transition-property: background-color;
    transition-duration: 1s;
    transition-timing-function: ease;
    transition-delay: 0s;
    cursor: pointer;
}

th fa {
  cursor: pointer;
}

.pesquisa {
  display: flex;
  justify-content: flex-start;
  height: 25px;
}

.dropdown-item {
  cursor: pointer;
}

.bglightgreen {
  background-color: palegreen;
}


/* TABELAS */
.thead-gradient {
  color: whitesmoke;
}

.thcoleta, .thcolumns, .thfilter {
  color: whitesmoke;
}

.trhide {
  display: none;
}

.thcoleta {
  background-image: linear-gradient(steelblue, darkblue) !important;
}

.thcolumns {
  background-image: linear-gradient(rgb(1, 155, 198), rgb(0, 68, 100));
}

.thfilter {
  background-image: linear-gradient(darkseagreen, rgb(0, 90, 90)) !important;
}

.thfooter {
  background-image: linear-gradient(rgb(210, 210, 210), #6c757d) !important;
  font-weight: bold;
}

.thcoleta progressbar {
  margin-top: 3px;
}

.actionfooter {
  display: inline-flex;
}

.novo {
  margin-right: 3px;
}

/* TABELAS (FIM) */

/* BOTOES */

.btn-info.dropdown-menu {
  background-color: tomato !important;
}

/* BOTOES (FIM) */
